:root {
  --text: #A7A7A7;
  --text-active: #626262;
  --checkbox-custom-bg: #E83D46;
  --checkbox-custom-checker: #F9A620;
  --header-text: #262424;
  --card-border-top: #E4DFD5;
  --cards-subheader: #626262;
  --cards-subheader-bg: #fff;
  --card-name: #A7A7A7;
  --chart-text: #c7ec95;
}

@font-face {
  font-family: "Mail Sans Roman";
  src: url('../fonts/MailSansRoman-Regular.eot');
  src: url('../fonts/MailSansRoman-Regular.ttf');
  src: url('../fonts/MailSansRoman-Regular.woff');
  src: url('../fonts/MailSansRoman-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Mail Sans Roman";
  src: url('../fonts/MailSansRoman-Medium.eot');
  src: url('../fonts/MailSansRoman-Medium.ttf');
  src: url('../fonts/MailSansRoman-Medium.woff');
  src: url('../fonts/MailSansRoman-Medium.woff2');
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
}

.dashboard {
  width: 1360px;
  background: var(--white);
  padding: 60px 30px;
}

.dashboard__checkbox {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}

.checkbox__native {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
}

.checkbox__text {
  font: normal 400 16px/155% 'Commissioner';
  color: var(--text);
}

.checkbox__custom {
  width: 33px;
  height: 20px;
  border-radius: 10px;
  background: var(--checkbox-custom-bg);
  position: relative;
  cursor: pointer;
}

.checkbox__custom::before {
  position: absolute;
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background: var(--checkbox-custom-checker);
  transition: all 0.2s ease;
}

.checkbox__native:checked + .checkbox__custom::before {
  left: 18px;
}

.dashboard__header {
  font: normal 600 32px/155% 'Commissioner';
  margin-top: 2px;
  color: var(--header-text);
}

.dashboard__cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

.cards__block {
  flex: 1 0 10%;
  margin-top: 15px;
  padding: 35px 0 0 0;
  border-top: 1px solid var(--card-border-top);
  position: relative;
}

.cards__subheader {
  font: normal 500 16px/155% 'Commissioner';
  position: absolute;
  top: -15px;
  left: 0;
  padding: 0 20px 0 0;
  display: inline-block;
  color: var(--cards-subheader);
  background: var(--cards-subheader-bg);
}

.cards__innercontainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.card {
  flex: 1 0 10%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background: var(--white);
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__name {
  font: normal 500 14px/155% 'Mail Sans Roman';
  color: var(--text);
}

.card__chart {
  width: 200px;
  align-self: center;
}

@supports (-webkit-appearance:none) {

}

@media screen and (max-width: 1280px) {
  .dashboard {
    padding: 40px 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 1100px) {
  .dashboard__cards {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 800px) {
  .dashboard {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (max-width: 550px) {
  .cards__innercontainer {
    flex-direction: column;
  }

@supports (-webkit-appearance:none) {

}
}